name: GitHub Maven

on:
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  build:
    runs-on: ubuntu-22.04-arm
    name: Build Application

    # Pull container from Artifactory
    container:
      image: elinaf.jfrog.io/jordanta-docker-local/jfrog-mvn-jordantest
      credentials:
        username: ${{ secrets.JF_ACCESS_USER }}
        password: ${{ secrets.JF_ACCESS_TOKEN }}

    steps:
      # 1. Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Optional: Set up JDK (if container doesn't have it)
      #- name: Set up JDK
      #  uses: actions/setup-java@v3
      #  with:
      #    distribution: temurin
      #    java-version: 17

      # 4. Optional: Build project
      - name: Build project
        run: mvn clean install  --debug --batch-mode --errors --show-version -DskipBootRepackage
